html, body{
    
    font-size: 62.5%;
    background-color: rgba(1, 189, 252, 0.7);
    height: 100%;
    margin: 0;
    padding: 0;
}


.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    top: 0;
    height: 100%;
}

img {
    height: 20vh;
    width: 9vw;
}

h1{
    font-size: 2.2vw;
    color: rgb(248, 249, 252);
}

h1:hover {
    color: black;
    transform: scale(1.1);
}

.top{
    font-size: 2.2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(28, 6, 126);
    background-color: rgb(15, 102, 232);
    top: 0; 
    min-height: 10em;
    /* margin-bottom: .5em; */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 3px 4px 5px #000;
    width: 98%;
}


input{
    margin-bottom: 1%;
    font-size: 1.2vw;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
}

::placeholder{
    text-align: center;
    color: grey;
    font-size: 1.2vw;
}

button{
    border-radius: 10px;
    background-color: rgba(1, 189, 252, 0.7);
    color: white;
    border:  1px solid black;
    font-size: 1vw;
    font-weight: bold;
    margin-bottom: 1rem;
    padding: 5px;
    box-shadow: 3px 4px 5px #000;
}

button:hover {
    filter: brightness(60%);
    font-weight: bold;
    color: black;
    cursor: pointer;
}

button:active {
    transform: translate(5px, 10%);
}

#def{
    margin-top: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: scroll;
    overflow-x: hidden;
    bottom: 0;
}

.definition-word {
    display: flex;
    font-size: 2.5em;
    word-wrap: break-word;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    border: 1px solid black;
    border-radius: 15px;
    color: white;
    background-color: rgb(15, 102, 232);
    width: 46%;
    padding: .5em;
    margin: 5px;
    min-height: fit-content;
    box-shadow: 1px 2px 3px #000;
}

.definition-word:hover {
    transform: translate(10px, 5%);
    filter: brightness(80%);
    cursor: context-menu;
}

.definition-statement {
    margin-top: 0;
}

.definition-statement:hover {
    font-style: oblique;
}

a {
    color: whitesmoke;
}

a:hover {
    color: gray;
    font-style: italic;
}

a:active {
    transform: translate(5px, 10%);
}


